.footer-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7em;
    padding: 40px 0px 40px 0px;
    background-color: white;
    width: 100%;
    min-height: 230px;
    box-shadow: .1px 0px 4px 1px grey;
    color: gray;
}

.footer-about {
    width: auto;
    font-size: .75em;
    padding: 0px 40px 0px 40px;
}

.footer-names {
    font-size: .6em;
    padding: 0px 40px 0px 40px;
}

.vl {
    border-left: 1px solid gray;
    height: 70px;
}

.icons-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    padding-left: 40px;
}

.icons {
    margin: 0px 10px;
    font-size: .7em;
}

.footer-right-label {
    font-size: .75em;
    padding: 0px 40px 0px 40px;
}

.footer-right {
    padding: 0px 40px 0px 40px;
    display: flex;
    align-items: center;
}
