.home-header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    z-index: 10;
    transition: top 0.3s;
}

.header-body {
    height: 60px;
    background-color: var(--light);
    /* background-color: white; */
    border-radius: 30px;
    /* border: 1px #484a4a solid; */
    box-shadow: 2px 2px 7px black;
    width: 52%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.logo {
    height: 75%;
    justify-self: center;
}

.header-left-text {
    display: inline;
}

.header-text {
    font-size: 1.2em;
    display: inline;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: #484a4a;
}